/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: klinicSlab;
    src: url("fonts/KlinicSlabBook.otf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1000px;
    margin: auto;
}

body {
    padding: 0;
    font-size: 15px;
    font-family: klinicSlab;
    letter-spacing: 1px;
    color: #000000;
    background-color: #fefbd8;
}

#container {
    padding: 0 10px;
}

/* Header */

#logo img {
    width: 70%;
    height: auto;
    margin: 2.5% 15%;
}
