/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: klinicSlab;
    src: url("fonts/KlinicSlabBook.otf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1000px;
    margin: auto;
}

body {
    padding: 0;
    font-size: 1em;
    font-family: klinicSlab;
    letter-spacing: 1px;
    color: #000000;
}

/* Hamburger Menu */



nav.drawer-nav {
    background: rgba(255, 255, 255, 1);
}

ul#menu.drawer-menu {
    background: rgba(0, 0, 0, 0);
}

#menu li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #3e958f;
}

#menu li.active {
    background: #666666;
    background: rgba(247, 174, 54, 0.5);
    color: #ffffff;
}

#menu li.active a {
    color: #ffffff;
}

a.drawer-menu-item {
    border-style: none;
}

#menu li.active a:hover {
    color: #f14b11;
}

#menu li a:hover {
    color: #f14b11;
}

.drawer-menu-item {
    width: 10%;
}

/* Logo */

#logo img {
    width: 60%;
    height: auto;
    margin: 0 20%;
}

@media all and (min-width: 600px) {
    #logo img {
        width: 40%;
        height: auto;
        margin: 1% 30% 0;
    }
}

@media all and (min-width: 1000px) {
    #logo img {
        width: 15%;
        height: auto;
        margin: 0.5% 42.5% 0;
    }
}

/* About Page */

h2 {
    color: #f14b11;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 3em;
    margin: 0 3% 2%;
}

h3 {
    color: #f7ae36;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2em;
    margin: 2% 3%;
}

h4 {
    color: #3e958f;
    font-size: 1.2em;
    margin: 2% 3%;
}

#welcome {
    background-color: rgba(62, 149, 143, 0.5);
}

#welcome img {
    display: none;
}

#welcome p {
    text-align: center;
    padding-bottom: 2%;
}

p {
    margin: 0 3% 2%;
}

#upcoming-events {
    border: 5px solid #f7ae36;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 2% 3%;
    padding-bottom: 1%;
}

#upcoming-events img {
    display: none;
}

.para-style {
    color: #3e958f;
    font-weight: bold;
}

.mobile-hidden {
    display: none;
}

/* Menu Pages */

.banana-dark {
    border: 5px solid #fefbd8;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5%;
    margin: 0 3%;
}

.banana-light {
    border: 5px solid #fed37c;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5%;
    margin: 0 3%;
}

.banana-item-light,
.banana-item-dark {
    margin-bottom: 7%;
}

.banana-item-light img,
.banana-item-dark img {
    display: none;
}

/* Contact Page */

#contact-info {
    border: 5px solid #fefbd8;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5%;
    margin: 0 3%;
}

#contact-info a:-webkit-any-link {
    text-decoration: none;
    cursor: none;
}

#contact-info ul {
    padding: 0;
}

#contact-info li {
    display: inline-block;
    width: 25%;
    text-align: center;
}

#gift-cert {
    background-color: rgba(254, 251, 216, 0.5);
    margin-top: 3%;
    padding: 1% 0;
}

#gift-cert img {
    display: none;
}

#awards {
    background-color: rgba(241, 75, 17, 0.25);
    margin-top: 3%;
    padding: 1% 0;
}

#awards h3 {
    color: #3e958f;
}

#awards ul {
    margin: 0;
    padding-bottom: 3%;
}
