/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: klinicSlab;
    src: url("fonts/KlinicSlabBook.otf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1000px;
    margin: auto;
}

body {
    padding: 0;
    font-size: 15px;
    font-family: klinicSlab;
    letter-spacing: 1px;
    color: #000000;
}

/* Hamburger Menu */

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav.drawer-nav {
    background: rgba(255, 255, 255, 1);
}

ul#menu.drawer-menu {
    background: rgba(0, 0, 0, 0);
}

#menu li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #3e958f;
}

#menu li.active {
    background: #666666;
    background: rgba(247, 174, 54, 0.5);
    color: #ffffff;
}

#menu li.active a {
    color: #ffffff;
}

a.drawer-menu-item {
    border-style: none;
}

#menu li.active a:hover {
    color: #f14b11;
}

#menu li a:hover {
    color: #f14b11;
}

.drawer-menu-item {
    width: 10%;
}

/* Logo */

#logo img {
    width: 50%;
    height: auto;
    margin: 2% 25% 0;
}

@media all and (min-width: 600px) {
    #logo img {
        width: 40%;
        height: auto;
        margin: 1% 30% 0;
    }
}

@media all and (min-width: 1000px) {
    #logo img {
        width: 15%;
        height: auto;
        margin: 0.5% 42.5% 0;
    }
}

/* About Page */

.about img {
    width: 47.5%;
}
